main {

    &::before {
        display: none;
        @include breakpoint(desktop){
            display: block;
            content: '';
        background-image: url('/img/right-square.png');
        background-repeat: no-repeat;
        width: 90px;
        height: 236px;
        background-position: left;
        position: absolute;
        right: 0;
        top: 175px;
        overflow-x: hidden;
        }
    }
 
}